// Breakpoints
$BREAKPOINT_SM: 480px;
$BREAKPOINT_SM: 768px;

// Colors

// Fonts
$FONT_HELVETICA: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$FONT_WEIGHT_NORMAL: 300;
$FONT_WEIGHT_BOLD: 700;
